@{
    ViewData["Title"] = "Política de Privacidad - Administrador";
}

<div class="container my-5">
    <h1 class="display-4 text-center mb-4">@ViewData["Title"]</h1>

    <div class="card shadow-sm">
        <div class="card-body">
            <p class="lead">Como administrador de Zentyk, es importante que comprendas cómo se manejan y protegen los datos de los usuarios en nuestro sitio web. A continuación, se detallan los aspectos clave de nuestra política de privacidad.</p>

            <h3 class="h5 text-secondary mt-4">Recopilación de Datos</h3>
            <p>Los usuarios proporcionan información personal al registrarse, realizar compras o interactuar con el sitio. Esta información incluye datos de contacto, de pago y de preferencias de compra.</p>

            <h3 class="h5 text-secondary mt-4">Uso de los Datos</h3>
            <p>La información recopilada se utiliza para procesar pedidos, gestionar inventarios, enviar notificaciones de ofertas y mejorar la experiencia de compra. También es importante para la personalización de productos y servicios según las preferencias del cliente.</p>

            <h3 class="h5 text-secondary mt-4">Seguridad y Almacenamiento</h3>
            <p>Los datos se almacenan de forma segura, utilizando cifrado y medidas de protección contra accesos no autorizados. Es esencial que supervises los accesos y las modificaciones a la base de datos de usuarios.</p>

            <h3 class="h5 text-secondary mt-4">Responsabilidades Administrativas</h3>
            <p>Como administrador, debes asegurarte de que solo el personal autorizado tenga acceso a los datos sensibles de los usuarios. Además, es crucial que las actualizaciones de la política de privacidad sean revisadas y publicadas correctamente en el sitio.</p>

            <h3 class="h5 text-secondary mt-4">Cumplimiento de la Legislación</h3>
            <p>Es fundamental cumplir con las leyes locales e internacionales relacionadas con la protección de datos personales, como el GDPR o la LOPD. Asegúrate de que el sitio esté actualizado conforme a estas regulaciones.</p>

            <h3 class="h5 text-secondary mt-4">Notificación de Cambios</h3>
            <p>Si la política de privacidad se actualiza, es tu responsabilidad informar a los usuarios de manera efectiva sobre los cambios realizados, para mantener la transparencia y la confianza.</p>


        </div>
    </div>
</div>
